
body {
    font-family: 'Open Sans', sans-serif;
}

.primary-text {
    color: #FD6E0A;
}

.primary-btn {
    border-radius: 5px;
    background: #FD6E0A;
    padding: 18px 35px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
.header{
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}
.banner{
    padding: 30px 30px  0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.banner-text{
    max-width: 500px;
}
.profile-pic{
    width: 520px;
    height: 606px;
}
.banner-greeting{
    font-size: 35px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 65px;
    font-weight: 700;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-discription{
    margin-top: 0;
    margin-bottom: 30px;
}